.cfStyle{
  width: 100%;
}
.cfStyle .form-group {
  width: 100%;
  margin-bottom: 2rem;
}
.cfStyle label {
  font-size: 1.8rem;
}
.cfStyle input,
.cfStyle textarea {
  width: 100%;
  font-size: 2rem;
  padding: 1.2rem;
  color: var(--gray-1);
  background-color: var(--egg-white);
  outline: none;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}
.cfStyle textarea {
  min-height: 250px;
  resize: vertical;
}
.cfStyle button[type='submit'] {
  background-color: var(--white);
  color: var(--black);
  font-size: 2rem;
  display: inline-block;
  outline: none;
  border: 2px solid var(--gray-2);
  border-radius: 8px;
  padding: 1rem 4rem;
  border-radius: 8px;
  cursor: pointer;
}