.pStyle{
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 1.3em;
  color: black;
}
.pStyle span{
  color: var(--black);
}

@media only screen and (max-width: 768px) {
  .pStyle{
    font-size: 1.4rem;
  }
}